body {
    text-align: center;
}

.btn {
    height: 180px;
    width: 180px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: #d95980;
}

.yellow {
    background-color: #f99b45;
}

.green {
    background-color: #63aac0;
}

.purple {
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: green;
}

@media (max-width: 600px) {
    .btn {
        height: 120px;
        width: 120px;
        font-size: 1.2rem;
    }
}

#startBtn{
    font-size: 20px;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 10px;
    background: linear-gradient(45deg, #1E3A8A, #FFD700);
    color: white;
}

#restartBtn{
    font-size: 20px;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 10px;
    background: linear-gradient(45deg, #1E3A8A, #FFD700);
    color: white;
}